
<!DOCTYPE html>
<html>
     <head>
           <title> Register </title>
           <link rel="stylesheet" href="register.css">

     </head>
     <body>
<div>
     Welcome to Reedy Projects Mutherfuckers!
</div>

               <img src="pit.jpg" width="300"  height="200">
          <!-- <img src="pit.jpg" width=40%> -->
   
          <form id="form">
                    <input id= "butn" type="text" placeholder="Full Name" name="name">
                    <button id="butn">Submit Bitch!</button>
          </form>

    
               <!-- <h1 style="color:darkblue; text-align:center"> Please Register </h1> -->

               <h1 style="color:#0c8e05; text-align:center"> Please Register </h1>
               <h2> this is the registration page</h2>

               An unordered list
               <ul>
               <li>ridwan</li>
               <li>rafia</li>
               <li>aliyah</li>
          </ul>

               Ordered list
          <ol>

               <li> aisha</li>   
               <li> khadijah</li>  
              
               <h3> Orikis </h3>

          </ol>
                  <table>
                       <tr>
                            <th> First Name </th>
                            <th> Middle Name </th>
                            <th> Last Name </th>
                            <th> Oriki     </th>
                       </tr>
                       <tr>
                            <td>  Ridwan  </td>
                            <td>  Ayodeji </td>
                            <td>  Salawu  </td>
                            <td>  Aremu  </td>

                       </tr>

                       <tr>
                              <td>  Rafia </td>
                              <td>  Ayodeji </td>
                              <td>  Salawu  </td>
                              <td>  Anike  </td>
  
                      </tr>

                  </table>

                
          
     </body>


</html>
